* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  background-color: #111;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  max-width: 950px;
  width: 90%;
}

.left-box {
  background: #fff;
  padding: 60px;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Image {
  width: 130px;
  height: auto;
  margin-bottom: 20px;
}

.left-box h2 {
  letter-spacing: 6px;
  margin-bottom: 25px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 14px;
  font-weight: 600;
  align-self: flex-start;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  width: 60%;
  padding: 12px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: #333;
}

.login {
  margin-top: 20px;
  text-align: center;
}

.login a {
  color: blue;
  text-decoration: underline;
}

/* Right box */
.right-box {
  width: 55%;
  background-color: grey;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.welcome-text {
  position: absolute;
  top: 85%;
  left: 52%;
  transform: translateX(-50%);
  color: red; 
  font-size: 28px;
  letter-spacing: 6px;
  text-align: center;
  font-weight: bold;
  z-index: 1;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.sneaker {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
}

.welcome-text {
  position: absolute;
  color: white;
  font-size: 28px;
  letter-spacing: 6px;
  text-align: center;
  font-weight: bold;
  z-index: 1;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
